@import url('https://fonts.googleapis.com/css?family=Kalam|Lato&display=swap');

.reveal {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #657b83;
}

.reveal h1,
.reveal h2 {
    margin: 0 0 20px 0;
    color: #586e75;
    font-family: "Cabin Sketch", cursive;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #586e75;
    font-family: "Kalam", cursive;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.00em;
    color: #dc322f;
    font-weight: bold;
}

.reveal h2 {
    font-size: 1.50em;
    font-weight: bold;
}

.reveal h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

body:after {
    content: url(./logo_tds.png);
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
}

body:before {
    display: block;
    white-space: pre;
    content: "Toulouse Data Science #38 - Google Colab & AI Notebook";
    position: fixed;
    top: 2.0em;
    right: 2.0em;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #657b83;
}